PS_VERSION_TAG=9
PS_HTTP_PORT=80
PS_DOMAIN=localhost:80

DB_VERSION_TAG=5.7
DB_NAME=prestashop
DB_USER=prestashop
DB_PASSWORD=prestashop
DB_ROOT_PASSWORD=root

PS_INSTALL_AUTO=1
PS_DEV_MODE=1
PS_ADMIN_MAIL=admin@example.com
PS_ADMIN_PASSWD=admin@example.com
