/.docker export-ignore
/prestashop export-ignore
/tests export-ignore
/.dockerignore export-ignore
/.editorconfig export-ignore
/.env.dist export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/compose.yml export-ignore
/Makefile export-ignore
/phpcs.xml export-ignore
/phpunit.xml export-ignore
